<nav class="flex items-center justify-between px-8 h-16 border-b border-white/5 bg-[#0d0d14]">

  <span class="font-mono text-sm font-medium tracking-widest text-white">
    DUO_DEV
  </span>
    
<ul class="hidden md:flex items-center gap-8 list-none">
  <li><a routerLink="/" routerLinkActive="active-link" class="nav-link">Home</a></li>
  <li><a routerLink="/proyectos" routerLinkActive="active-link" class="nav-link">Proyectos</a></li>
  <li><a routerLink="/login" routerLinkActive="active-link" class="nav-link">Login</a></li>
  <li><a routerLink="/solicitudes/mis" routerLinkActive="active-link" class="nav-link">Solicitudes</a></li>
</ul>
  <div class="flex items-center gap-3">

    <a routerLink="/solicitudes/nueva"
       class="bg-violet-700 hover:bg-violet-600 text-white text-xs font-medium tracking-widest uppercase px-5 py-2 rounded transition-colors">
      Conectar
    </a>
  </div>

</nav>